@import "_base.scss";

body, html {
    height: 100%;
    width: 100%;
}

.tile-card{
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
    background-repeat: no-repeat;
    color: #091E42;
    animation: fGLASt 0.6s cubic-bezier(0.15, 1, 0.33, 1) forwards;
    box-sizing: border-box;
    text-align: left;
    z-index: 100;
    box-shadow: 0 1px 1px rgba(23,43,77,0.2), 0 0 0.5px 0 rgba(23,43,77,0.25);
    transition: all 0.3s cubic-bezier(0.15, 1, 0.33, 1);
    animation-delay: 0.5s;
    background-image: none;
    padding-bottom: 20;
    background-size: contain;
    background-position: bottom;
}