<div class="tabs-container">
    <div class="tabs">
        <div class="tabs-menu">
            <span>
                <img src="{{ menu.thumb|asseturl }}" alt="" 
                     style="vertical-align: middle;margin-right:8px">
            </span>
            <span class="subtitle">{{ menu.label }}</span>
        </div>
        <div class="tabs-list">
            {% for tab in site.get(menu.path).children %}
                {% if this.path == tab.path %} 
                    {% set item_class="tabs-list-item active" %}
                {% else %}
                    {% set item_class="tabs-list-item" %}
                {% endif %}
                <a class="{{ item_class }}" href="{{ tab|url }}">
                    {{ tab.title }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>