<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
<title>Welcome — Folyd</title>

<body class="has-background-primary has-text-white has-text-centered">
    <header class="section has-text-centered">
        <h1 class="heading has-text-white">Folyd</h1>
        <p class="subtitle has-text-white">A virtuous idealist and minimalist</p>
    </header>
    <div class="container">
        <div class="section">
            <div class="columns">
                {% for id,item in bag("menu").items()%}
                <a class="column tile-card" href="{{ item.path }}">
                    <div class="title">
                        <span>
                            <img src="{{ item.thumb|asseturl }}" alt="" style="vertical-align: middle;margin-right:8px">
                        </span>
                        <span>{{ item.label }}</span>
                    </div>
                    <p class="subtext">{{ item.description }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        &copy; Copyright 2018 by Folyd. Proudly powered by Lektor.
    </footer>
    </div>

</body>