<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — Folyd</title>

<body>
<div class="page">
    <div class="navigator-container">
        <div class="navigator">
            <div class="menu has-background-primary">
                <a href="/">
                    <img src="/img/logo-white.svg" alt="folyd" style="margin:15px 0;height:12px;">
                </a>
                <nav class="nav">
                    {% for id,item in bag("menu").items() %}
                    <a {% if this.is_child_of(item.path) %} class="active" {% endif %}
                       href="{{ item.path|url }}" title="{{ item.label + ' - ' + item.description }}">
                        <img class="nav-image-item" src="{{ item.icon|asseturl }}" alt="">
                    </a>
                    {% endfor %}
                </nav>
            </div>
            {% block tabs %}{% endblock %}
        </div>
    </div>

    <div class="header-navigator">
        <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
            <path d="M5 15h14v2H5zm0-8h14v2H5zm0 4h14v2H5z" fill="currentColor" fill-rule="evenodd"></path>
        </svg>
        <a href="/">
            <img src="/img/logo-white.svg" alt="folyd" style="height: 14px">
        </a>
    </div>

    <div class="body-container content">
        <div class="body text">
            {% if this.children %}
            <div class="heading">{{ this.children.first().title }}</div>
            <br>
            {{ this.children.first().body }}
            {% else %}
            <div class="heading">{{ this.title }}</div>
            <br>
            {{ this.body }}
            {% endif %}
        </div>
    </div>
    {# Always show table of content for parent page or self page. #}
    {% set body = this.children.first().body if this.children else this.body %}
    {% if body.toc %}
    <div class="table-of-content">
        <b class="pipe-title">Table of content</b>
        <ul class="toc">
            {% for item in body.toc recursive %}
            <li>
                <a href="#{{ item.anchor }}">{{ item.title | trim }}</a>
                {% if item.children %}
                <ul>{{ loop(item.children) }}</ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
</body>