<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#1c45a5">
<link rel="stylesheet" href="{{ '/static/styles.css' }}">
<link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
<title>{% block title %}Welcome{% endblock %} — Folyd</title>

<body>
<div class="page">
    <div class="header-navigator">
        <div id="menu-button">
            <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                <path d="M5 15h14v2H5zm0-8h14v2H5zm0 4h14v2H5z" fill="currentColor" fill-rule="evenodd"></path>
            </svg>
        </div>
        <a href="/">
            <img src="/img/logo-white.svg" alt="folyd" style="height: 14px">
        </a>
    </div>

    <div class="navigator-container">
        <div class="navigator">
            <div id="close-menu-button">
                <svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation">
                    <path d="M12 10.586L6.707 5.293a1 1 0 0 0-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 0 0 1.414 1.414L12 13.414l5.293 5.293a1 1 0 0 0 1.414-1.414L13.414 12l5.293-5.293a1 1 0 1 0-1.414-1.414L12 10.586z"
                          fill="currentColor">
                    </path>
                </svg>
            </div>
            <div class="menu has-background-primary">
                <a href="/">
                    <img src="/img/logo-white.svg" alt="folyd" style="margin:15px 0;height:12px;">
                </a>
                <nav class="nav">
                    {% for id,item in bag("menu").items() %}
                    <a {% if this.is_child_of(item.path) %} class="active" {% endif %}
                       href="{{ item.path|url }}" title="{{ item.label + ' - ' + item.description }}">
                        <img class="nav-image-item" src="{{ item.icon|asseturl }}" alt="">
                    </a>
                    {% endfor %}
                </nav>
            </div>
            {% block tabs %}{% endblock %}
        </div>
    </div>


    <div class="body-container content">
        {% from "macros/base.html" import render_content %}
        <div class="body text">
            {% if this.children %}
                {{ render_content(target=this.children.first()) }}
            {% else %}
                {{ render_content(target=this) }}
            {% endif %}
        </div>

        <footer class="page-footer">
            <div class="footer-content">
                <small>
                    &copy; Copyright 2025 by Folyd.
                    <span class="footer-separator">·</span>
                    <a href="https://geddle.com" target="_blank" rel="noopener">Geddle</a>
                    <span class="footer-separator">·</span>
                    <a href="https://arrfounder.com" target="_blank" rel="noopener">Arrfounder</a>
                    <span class="footer-separator">·</span>
                    <a href="https://aiberm.com" target="_blank" rel="noopener">Aiberm.com</a>
                </small>
            </div>
        </footer>
    </div>
    {# Always show table of content for parent page or self page. #}
    {% set body = this.children.first().body if this.children else this.body %}
    {% if body.toc %}
    <div class="table-of-content">
        <div class="sticky">
            <b class="pipe-title">Table of content</b>
            <ul class="toc">
                {% for item in body.toc recursive %}
                <li>
                    <a href="#{{ item.anchor }}">{{ item.title | trim }}</a>
                    {% if item.children %}
                    <ul>{{ loop(item.children) }}</ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
<script src="{{ '/static/app.js' | asseturl }}"></script>
</body>