<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
<title>{% block title %}Welcome{% endblock %} — Folyd</title>

<body>
  <div class="page">
    <div style="width:320px;">
      <div class="navigator">
        <div class="menu has-background-primary">
          <a href="/">
            <h1 class="title">Folyd</h1>
          </a>
          <nav>
            <ul class="nav navbar-nav">
              {% for id,item in bag("menu").items()%}
              <li{% if this.is_child_of(item.path) %} class="active" {% endif %}>
                <a href="{{ item.path|url }}">{{ item.label }}</a>
                </li>
                {% endfor %}
            </ul>
          </nav>
        </div>
        {% block tabs %}{% endblock %}
      </div>
    </div> 

    <div class="body-container content">
      <div class="body">
        {% if this.children %}
          {{ this.children.first().body }}
        {% else %}
          {{ this.body }}
        {% endif %}
      </div>
  </div>
  </div>
</body>